controller.exe
mark.py
*.pyc
*.dat
!Apps/MuseApp/population_template.dat
!Apps/FakeApp/Data/online/WAC/WAC1.dat
!Apps/FakeApp/Data/online/WAC/WAC2.dat
!Apps/FakeApp/Data/online/WAC/WAC3.dat
!Apps/FakeApp/Data/online/WAC/WAC4.dat
!Apps/FakeApp/Data/online/WAC/WAC5.dat
!Apps/FakeApp/Data/online/WAC/WAC6.dat
!Apps/FakeApp/Data/online/WAC/WAC7.dat
!Apps/FakeApp/Data/online/WAC/WAC8.dat
!Apps/FakeApp/Data/online/WAC/WAC9.dat
!Apps/FakeApp/Data/online/WAC/WAC10.dat
!Apps/FakeApp/Data/online/WAC/WAC11.dat
!Apps/FakeApp/Data/online/WAC/WAC12.dat
!Apps/FakeApp/Data/online/AW_fake.dat
!Apps/FakeApp/Data/scope/EyesOpen_eeg.dat
!Apps/FakeApp/Data/scope/EyesOpen_gsr.dat
*.lnk
!Batch/start.lnk
!Batch/config.lnk
*.asv
*.ini
start_config.xml
Apps/EegAmpApp/config.cfg
Apps/MuseApp/config.cfg
Apps/ShimmerApp/config.cfg
Apps/EmpaticaApp/config.cfg
Apps/FakeApp/config.cfg
Data
!Apps/FakeApp/Data
__pycache__
.DS_Store
.vscode
venv
py379
py310
requirements310.txt